
.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: $base__font-family;
    font-size: $base__font-size;
    font-weight: $base__font-weight--bold;
    text-align: center;
    color: $color__white;


}