
// *--------- COLORS ---------*

$color__white: #FFFFFF;
$color__black: #000000;
$color__grey-text: #A5A5A5;
$color__blue-accent: #08A6E4;
$color__red-accent: #FB3B64;
$color__green-accent: #55DFB4;
$color__light-background: #F7F7F7;
$color__dark-shadow:#00000029;
$color__light-shadow:#07ACE629;
$color__light-border: #E8E9ED;
$color__dark-border: #95989A;
$color__darkgrey-text: #707070;
$color__dark-text: #13253B;
$color__blue-shadow: #08A6E429;
$color__calculator-border: #EB476E;
$color__calculator-shadow: #EB476E29;

